@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<h2>@ViewData["Title"] Seller</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Este create refere-se ao método POST -->
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group"
                <label asp-for="Seller.Name" classs="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group"
                <label asp-for="Seller.Email" classs="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group"
                <label asp-for="Seller.BirthDate" classs="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group"
                <label asp-for="Seller.BaseSalary" classs="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <!--
                    SelectList utiliza de 3 argumentos:
                    1- A fonte de dados da coleção
                    2- Qual atributo é a chave de cada elemento
                    3- Qual atributo será impresso no HTML
                -->
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success" />
            </div>
        </form>
    </div>
    <br />
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}